.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

@font-face {
  font-family: SFpro;
  src: url("../fonts/SFProText-Regular.ttf");
}
@font-face {
  font-family: SFpro500;
  src: url("../fonts/SFProText-Medium.ttf");
}
@font-face {
  font-family: SFpro600;
  src: url("../fonts/SFProText-Semibold.ttf");
}
@font-face {
  font-family: SFpro700;
  src: url("../fonts/SFProText-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SFpro;
  scroll-behavior: smooth;
}

input {
  outline: none;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  background: #FFF;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

body .header-top {
  background: #454f5b;
  padding: 10px 0;
}
body .header-top .container {
  position: relative;
}
body .header-top .container p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.12%;
  text-align: center;
}
body .header-top .container a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.12%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 21px;
  text-decoration: underline;
}
body header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
body header .background-black {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 11;
  display: none;
}
body header .header-bottom {
  background: white;
  padding: 20px 0;
  border-bottom: 1px solid #c4cdd5;
}
body header .header-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header-bottom .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header-bottom .container .navbar ul {
  display: flex;
  gap: 30px;
}
body header .header-bottom .container .navbar ul li {
  list-style: none;
}
body header .header-bottom .container .navbar ul li a {
  color: #161C24;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
}
body header .header-bottom .container .navbar ul li select {
  border: none;
  background: none;
  color: #161C24;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  cursor: pointer;
}
body header .header-bottom .container .navbar div {
  margin-left: 280px;
  display: flex;
  align-items: center;
  gap: 30px;
}
body header .header-bottom .container .navbar div p {
  color: #454F5B;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
body header .header-bottom .container .navbar div span {
  display: flex;
  gap: 24px;
}
body header .header-bottom .container .navbar div span button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
body header .header-bottom .container .menu-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}
body .navbar-shrink .header-bottom {
  transition: 0.3s;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  header .header-bottom p, header .header-bottom a, header .header-bottom select {
    font-size: 16px !important;
  }
  header .header-bottom select {
    margin-top: 2px;
  }
}
@media (max-width: 1100px) {
  header .header-bottom .header-contact {
    margin-left: 250px !important;
  }
}
@media (max-width: 1100px) {
  header .header-bottom .header-contact {
    margin-left: 100px !important;
  }
}
@media (max-width: 906px) {
  header .header-top p, header .header-top a {
    font-size: 12px !important;
  }
  header .header-bottom div {
    margin-left: 0 !important;
  }
  header .header-bottom .navbar {
    display: none !important;
  }
  header .header-bottom .menu-btn {
    display: block !important;
  }
  .menu-opened header .background-black {
    display: block;
  }
  .menu-opened header .header-bottom {
    position: relative;
  }
  .menu-opened header .header-bottom .navbar {
    z-index: 12 !important;
    display: flex !important;
    height: 100vh;
    width: 280px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0px;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 40px !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .menu-opened header .header-bottom .navbar ul {
    flex-direction: column;
    gap: 40px !important;
  }
  .menu-opened header .header-bottom .navbar .header-contact {
    margin-left: 0 !important;
    flex-direction: column;
    gap: 32px !important;
  }
  .menu-opened header .header-bottom .menu-btn {
    position: absolute;
    right: 20px;
    z-index: 1000;
  }
}
@media (max-width: 660px) {
  header .header-top {
    display: flex !important;
    flex-direction: row !important;
  }
  header .header-top a {
    position: static !important;
  }
}
body footer {
  background: #0D2436;
  padding-top: 55px;
  padding-bottom: 25px;
}
body footer .footer-content {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-between;
}
body footer .footer-content .logo-part div {
  margin-top: 144px;
  display: flex;
  align-items: center;
  gap: 24px;
}
body footer .footer-content .services-links {
  display: flex;
  flex-wrap: wrap;
  gap: 97px;
}
body footer .footer-content .services-links ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .footer-content .services-links ul h4 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}
body footer .footer-content .services-links ul li a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
body footer .footer-content .services-links ul p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.71px;
  color: #C4CDD5;
}
body footer .footer-content .services-links ul .for-mb {
  margin-top: 8px;
}
body footer .footer-bottom div {
  height: 1px;
  width: 100%;
  background: #203646;
  margin-bottom: 24px;
}
body footer .footer-bottom p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #9ea7af;
}

@media (max-width: 950px) {
  footer .logo-part div {
    margin-top: 40px !important;
  }
}
body main .cards-section {
  padding: 20px 0 70px 0;
}
body main .cards-section .pages {
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  cursor: pointer;
}
body main .cards-section .pages span {
  color: #9d9d9d;
}
body main .cards-section h2 {
  color: black;
  font-family: SFpro600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 60px;
}
body main .cards-section h2 span {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
body main .cards-section .products-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29.3px;
  flex-wrap: wrap;
}
body main .cards-section .products-group .product {
  width: 288px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body main .cards-section .products-group .product .product-img {
  width: 200px;
}
body main .cards-section .products-group .product .product-title {
  background: white;
  padding: 10px 12px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
body main .cards-section .products-group .product .product-title h3 {
  font-size: 24px;
  margin-bottom: 6px;
}
body main .cards-section .products-group .product .product-title div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}
body main .cards-section .products-group .product .product-title div p {
  color: #454F5B;
  font-size: 13px;
  line-height: 21px;
}
body main .cards-section .products-group .product .product-title .product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #454F5B;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
body main .cards-section .products-group .product .product-title .product-price {
  display: flex;
  align-items: center;
  gap: 12px;
}
body main .cards-section .products-group .product .product-title .product-price p:first-child {
  font-family: SFpro600;
  font-size: 20px;
  line-height: 23.87px;
}
body main .cards-section .products-group .product .product-title .product-price p:last-child {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
  text-decoration: line-through;
}
body main .cards-section .products-group .product .product-title .card-bottom {
  display: flex;
  justify-content: space-between;
}
body main .cards-section .products-group .product .product-title .card-bottom button {
  cursor: pointer;
}
body main .cards-section .products-group .product .product-isNaqd {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 17px;
  left: 12px;
  cursor: pointer;
}
body main .cards-section .products-group .product .product-isNaqd p {
  color: #454F5B;
  font-size: 16px;
  line-height: 16.71px;
}
body main .cards-section .products-group .product .product-sale {
  width: 51px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.32px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
body main .cards-section .products-group .product .product-gift {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 6px 8px;
  position: absolute;
  left: 12px;
  top: 49px;
  cursor: pointer;
}
body main .benefits-section {
  margin-bottom: 100px;
}
body main .benefits-section .benefits-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 82px;
}
body main .benefits-section .benefits-top .benefits-titlePart {
  max-width: 605px;
}
body main .benefits-section .benefits-top .benefits-titlePart h3 {
  color: #161C24;
  font-family: SFpro600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 24px;
}
body main .benefits-section .benefits-top .benefits-titlePart p {
  color: #454F5B;
  font-size: 18px;
  line-height: 32px;
}
body main .benefits-section .benefits-top .benefits-titlePart div {
  margin-top: 24px;
}
body main .benefits-section .benefits-top .benefits-titlePart div div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
body main .benefits-section .benefits-top .benefits-titlePart div div p {
  display: flex;
  align-items: center;
  gap: 12px;
}
body main .benefits-section .benefits-top .benefits-titlePart div div:last-child {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 16px;
  margin-bottom: 24px;
}
body main .benefits-section .benefits-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
body main .benefits-section .benefits-bottom .benefits-titlePart {
  max-width: 605px;
}
body main .benefits-section .benefits-bottom .benefits-titlePart h3 {
  color: #161C24;
  font-family: SFpro600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 24px;
}
body main .benefits-section .benefits-bottom .benefits-titlePart p {
  color: #454F5B;
  font-size: 18px;
  line-height: 32px;
}
body main .benefits-section .benefits-bottom .benefits-titlePart p:last-child {
  margin-top: 16px;
}
body main .connection-section {
  background: #F2F8FF;
  padding-top: 64px;
  padding-bottom: 54px;
}
body main .connection-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .connection-section .container h2 {
  color: #161C24;
  font-family: SFpro;
  font-size: 44px;
  line-height: 62px;
  margin-bottom: 24px;
  text-align: center;
}
body main .connection-section .container p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: #454F5B;
  max-width: 518px;
  text-align: center;
}
body main .connection-section .container form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
body main .connection-section .container form input {
  border: none;
  padding: 16px 16px;
  font-size: 16px;
  background: #e9eff6;
}
body main .connection-section .container form button {
  font-size: 16px;
  width: 249.667px;
  font-weight: 600;
  line-height: 26px;
  padding: 13px 70px;
  background: #4295E4;
  color: white;
  cursor: pointer;
}
body main .liked-section {
  display: none;
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 110;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.liked-opened .liked-section {
  display: block;
}
.liked-opened .liked-section .x-btn {
  position: absolute;
  right: 0;
}
.liked-opened .liked-section .container .products-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29.3px;
  flex-wrap: wrap;
}
.liked-opened .liked-section .container .products-group .product {
  width: 288px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.liked-opened .liked-section .container .products-group .product .product-img {
  width: 200px;
}
.liked-opened .liked-section .container .products-group .product .product-title {
  background: white;
  padding: 10px 12px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.liked-opened .liked-section .container .products-group .product .product-title h3 {
  font-size: 24px;
  margin-bottom: 6px;
}
.liked-opened .liked-section .container .products-group .product .product-title div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}
.liked-opened .liked-section .container .products-group .product .product-title div p {
  color: #454F5B;
  font-size: 13px;
  line-height: 21px;
}
.liked-opened .liked-section .container .products-group .product .product-title .product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #454F5B;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
.liked-opened .liked-section .container .products-group .product .product-title .product-price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.liked-opened .liked-section .container .products-group .product .product-title .product-price p:first-child {
  font-family: SFpro600;
  font-size: 20px;
  line-height: 23.87px;
}
.liked-opened .liked-section .container .products-group .product .product-title .product-price p:last-child {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
  text-decoration: line-through;
}
.liked-opened .liked-section .container .products-group .product .product-title .card-bottom {
  display: flex;
  justify-content: space-between;
}
.liked-opened .liked-section .container .products-group .product .product-title .card-bottom button {
  cursor: pointer;
}
.liked-opened .liked-section .container .products-group .product .product-isNaqd {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 17px;
  left: 12px;
  cursor: pointer;
}
.liked-opened .liked-section .container .products-group .product .product-isNaqd p {
  color: #454F5B;
  font-size: 16px;
  line-height: 16.71px;
}
.liked-opened .liked-section .container .products-group .product .product-sale {
  width: 51px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.32px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
.liked-opened .liked-section .container .products-group .product .product-gift {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 6px 8px;
  position: absolute;
  left: 12px;
  top: 49px;
  cursor: pointer;
}

@media (max-width: 1279px) {
  main .benefits-section .benefits-top img {
    order: -1 !important;
  }
}
@media (max-width: 644px) {
  main .benefits-section img {
    width: 100%;
  }
}
@media (max-width: 520px) {
  main .benefits-section .benefits-top .benefits-titlePart div div {
    flex-direction: column;
    align-items: start !important;
    gap: 16px !important;
  }
}/*# sourceMappingURL=style.css.map */