@font-face {
    font-family: SFpro;
    src: url("../fonts/SFProText-Regular.ttf");
}
@font-face {
    font-family: SFpro500;
    src: url("../fonts/SFProText-Medium.ttf");
}
@font-face {
    font-family: SFpro600;
    src: url("../fonts/SFProText-Semibold.ttf");
}
@font-face {
    font-family: SFpro700;
    src: url("../fonts/SFProText-Bold.ttf");
}